mock
scikit-learn
requests
opcua
tensorflow==1.14
matplotlib
pandas
scipy
numpy
keras
gym
hyperopt
statsmodels
keras-rl
cryptography
pydot
pydrive
sphinx
sphinx_rtd_theme
sphinx_autodoc_typehints
sphinx-argparse
wxpython
pypiwin32
requests_negotiate_sspi